/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --russian-violet: hsl(269, 36%, 22%);
  --dark-purple: hsl(268, 22%, 15%);
  --eerie-black: hsl(240, 4%, 10%);
  --davys-gray: hsl(0, 0%, 34%);
  --light-gray: hsl(0, 0%, 84%);
  --cultured-1: hsl(0, 0%, 98%);
  --cultured-2: hsl(280, 14%, 96%);
  --cultured-3: hsl(280, 9%, 94%);
  --gainsboro: hsl(0, 1%, 85%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_5: hsla(0, 0%, 0%, 0.05);
  --pumpkin: rgb(1,32,104);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  /**
   * typography
   */

  --ff-poppins: 'Poppins', sans-serif;
  --ff-roboto: 'Roboto', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2rem;
  --fs-3: 1.5rem;
  --fs-4: 1.4rem;
  --fs-5: 1.3rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * box shadow
   */

  --shadow-1: 0px 0px 20px var(--black_10);
  --shadow-2: 0 0 20px 4px var(--black_5);

  /**
   * border radius
   */

  --radius-6: 6px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
button,
ion-icon { display: block; }

img { height: auto; }

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-poppins);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-size: 1.6rem;
  color: var(--davys-gray);
}

:focus-visible { outline-offset: 4px; }

::-webkit-scrollbar { width: 2px; }

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }

::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }





/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.btn {
  color: var(--color, var(--white));
  font-size: var(--fs-4);
  max-width: var(--width, max-content);
  padding: 10px 20px;
  border-radius: var(--radius-10);
  transition: var(--transition-1);
}

.btn-primary,
.btn-secondary:is(:hover, :focus) { background-color: var(--pumpkin); }

.btn-primary:is(:hover, :focus),
.btn-secondary { background-color: var(--russian-violet); }

.btn-outline {
  --color: var(--pumpkin);
  --width: 100%;
  text-align: center;
  font-weight: var(--fw-500);
  border: 1px solid var(--cultured-3);
}

.btn-outline:is(:hover, :focus) {
  background-color: var(--pumpkin);
  color: var(--white);
}

.section { padding-block: var(--section-padding); }

.section-subtitle {
  color: var(--pumpkin);
  font-size: var(--fs-3);
  margin-block-end: 5px;
}

.h1,
.h2,
.h3 { font-family: var(--ff-roboto); }

.h1,
.h2 { font-size: var(--fs-1); }

.h2,
.h3 { color: var(--eerie-black); }

.h3 { font-size: var(--fs-2); }

.section-text,
.card-text {
  font-size: var(--fs-4);
  line-height: 1.8;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.btn-item-link {
  overflow: hidden;
  border-radius: var(--radius-10);
}

.btn-item-link .img { width: 136px; }

.w-100 { width: 100%; }

.section-title { margin-block: 10px 20px; }

:is(.features, .blog) :is(.section-subtitle, .section-title) {
  text-align: center;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-2);
}





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-block: 15px;
  z-index: 4;

  transform: translateY(-100%);
  filter: drop-shadow(var(--shadow-1));
  animation: slideIn 0.5s ease forwards;

}



@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--dark-purple);
  font-family: var(--ff-roboto);
  font-size: 35px;
  font-weight: var(--fw-900);
}

.nav-toggle-btn {
  background-color: var(--pumpkin);
  color: var(--white);
  font-size: 35px;
  padding: 2px 8px;
}

.navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  padding-inline: 15px;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  max-height: 340px;
  visibility: visible;
  transition-duration: 0.5s;
}

.navbar-list {
  background-color: var(--cultured-1);
  margin-block-end: 15px;
  padding: 20px 30px;
}

.navbar-link {
  color: var(--eerie-black);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  padding-block: 7px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus, .active) { color: var(--pumpkin); }

.navbar .btn { margin-block: 8px; }





/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  background-color: var(--russian-violet);
  color: var(--white);
  padding-block-start: calc(var(--section-padding) + 70px);
}

.hero-content { margin-block-end: 20px; }

.hero-title { margin-block: 15px 20px; }

.hero .section-text { margin-block-end: 30px; }





/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features .section-title { margin-block-end: 30px; }

.features-list {
  display: grid;
  gap: 10px;
}

.features-item {
  position: relative;
  transition: var(--transition-2);
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  background-color: var(--cultured-2);
  border-radius: var(--radius-10);
  z-index: -1;
}

.features-item:hover { transform: translateY(-10px); }

.features-card {
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  margin: 20px;
  padding: 20px;
  border-radius: var(--radius-10);
  text-align: center;
}

.features-card .card-icon {
  color: var(--pumpkin);
  font-size: 35px;
  max-width: max-content;
  margin-inline: auto;
}

.features-card .card-icon ion-icon { --ionicon-stroke-width: 35px; }

.features-card .card-title { margin-block: 18px 15px; }





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about { background-color: var(--cultured-3); }

.about .about-banner { margin-block-end: 20px; }

.about .about-banner img{
  border-radius:10px;
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.011),
  0px 0px 5.3px rgba(0, 0, 0, 0.016),
  0px 0px 10px rgba(0, 0, 0, 0.02),
  0px 0px 17.9px rgba(0, 0, 0, 0.024),
  0px 0px 33.4px rgba(0, 0, 0, 0.029),
  0px 0px 80px rgba(0, 0, 0, 0.04)
;
}

.about .section-text,
.about-item:not(:last-child) { margin-block-end: 25px; }

.about-list { margin-block-end: 35px; }

.about-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.about-item .item-icon {
  background-color: var(--pumpkin);
  color: var(--white);
  font-size: 20px;
  padding: 12px;
  border-radius: 50%;
}

.about-item .item-title { margin-block-end: 10px; }





/*-----------------------------------*\
  #ABOUT 2
\*-----------------------------------*/

.about-2 .section-text:last-of-type { margin-block: 30px; }

.about-2 .about-content { margin-block-end: 30px; }

.about-2 .about-banner img{
  border-radius:10px;
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.011),
  0px 0px 5.3px rgba(0, 0, 0, 0.016),
  0px 0px 10px rgba(0, 0, 0, 0.02),
  0px 0px 17.9px rgba(0, 0, 0, 0.024),
  0px 0px 33.4px rgba(0, 0, 0, 0.029),
  0px 0px 80px rgba(0, 0, 0, 0.04)
;
}



/*-----------------------------------*\
  #APP
\*-----------------------------------*/

.app {
  background-color: var(--russian-violet);
  color: var(--white);
}

.app-banner { margin-block-end: 30px; }

.app .section-title { color: var(--white); }

.app .section-text { margin-block-end: 30px; }





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog .section-title { margin-block-end: 30px; }

.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.blog-list > li { max-width: 100%; }

.blog-card {
  padding: 15px;
  border-radius: var(--radius-10);
  box-shadow: var(--shadow-2);
}

.blog-card .card-banner {
  border-radius: var(--radius-10);
  overflow: hidden;
}

.blog-card:is(:hover, :focus-within) .img-cover { transform: scale(1.2); }

.blog-card .card-content {
  padding: 15px;
  padding-block-start: 25px;
}

.blog-card :is(.card-meta-list, .card-meta-item) {
  display: flex;
  align-items: center;
}

.blog-card .card-meta-list {
  gap: 15px;
  margin-block-end: 15px;
}

.blog-card .card-meta-item { gap: 6px; }

.blog-card .card-meta-item ion-icon {
  color: var(--pumpkin);
  font-size: var(--fs-5);
}

.blog-card .card-meta-text { font-size: var(--fs-5); }

.blog-card .h3 { margin-block-end: 15px; }

.blog-card .card-title { transition: var(--transition-1); }

.blog-card .card-title:is(:hover, :focus) { color: var(--pumpkin); }





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer { background-color: var(--cultured-3); }

.footer-top .container {
  display: grid;
  gap: 30px;
}

.footer-top .section-text { margin-block: 15px 22px; }

.social-list {
  display: flex;
  gap: 15px;
}

.social-link {
  background-color: var(--white);
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  background-color: var(--pumpkin);
  color: var(--white);
  transform: translateY(-2px);
}

.footer-list-title {
  color: var(--eerie-black);
  font-family: var(--ff-roboto);
  font-size: var(--fs-2);
  font-weight: var(--fw-700);
  margin-block-end: 20px;
}

.footer-link {
  font-size: var(--fs-4);
  margin-block-start: 10px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus),
.footer-item .item-link:not(.address):is(:hover, :focus) {
  color: var(--pumpkin);
}

.footer-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-block-start: 10px;
}

.footer-item ion-icon {
  flex-shrink: 0;
  color: var(--pumpkin);
  font-size: 17px;
  margin-block-start: 2px;
}

.footer-item .item-link {
  font-size: var(--fs-4);
  transition: var(--transition-1);
}

.footer-bottom {
  padding-block: 20px;
  border-block-start: 1px solid var(--gainsboro);
}

.copyright {
  font-size: var(--fs-4);
  text-align: center;
}

.copyright-link {
  color: var(--pumpkin);
  display: inline-block;
}


.visit_counter{
  display:flex;
  flex-direction:column;
}

.visitor_counter .count_name{
  padding:0;
  margin:0;
}


.visit_counter .count_list{
  display:flex;
  padding:0;
  margin:0;

}


.visit_counter .count_list li{
  background:#01206D;
  color:white;
  padding:10px 15px;
  border:1px solid white;
  border-radius:5px;
}





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-top-btn {
  position: fixed;
  bottom: 30px;
  right: -36px;
  background-color: var(--pumpkin);
  color: var(--white);
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
font-size:3rem;
z-index:2000;
  
}

.activetopbtn {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50px);
}







/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * FEATURES
   */

  .features-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }



  /**
   * APP
   */

  .app-banner { max-width: max-content; }



  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

}





/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 4.5rem;

  }



  /**
   * REUSED STYLE
   */
  
  .container { max-width: 720px; }

  .h2 { --fs-1: 3.5rem; }

  .btn {
    font-size: unset;
    padding: 15px 30px;
  }

  .btn-list { gap: 20px; }

  .btn-item-link .img { width: 150px; }



  /**
   * HEADER
   */

  .navbar .btn {
    font-size: var(--fs-4);
    padding: 10px 20px;
  }



  /**
   * BLOG
   */

  .blog-list { gap: 20px; }

  .blog-list > li { max-width: calc(50% - 10px); }

}





/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 960px; }

  .btn-item-link .img { width: 185px; }



  /**
   * HEADER
   */

  .nav-toggle-btn { display: none; }

  .navbar,
  .navbar.active,
  .navbar-list { all: unset; }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }



  /**
   * HERO
   */

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content { margin-block-end: 0; }



  /**
   * FEATURES
   */

  .features .section-title { margin-block-end: 40px; }

  .features-list { grid-template-columns: repeat(4, 1fr); }



  /**
   * ABOUT, ABOUT 2, APP
   */

  :is(.about, .about-2, .app) .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about-banner,
  .app-banner { margin-block-end: 0; }



  /**
   * APP
   */

  .app {
    padding-block: 0;
    margin-block-end: 60px;
  }

  .app-content { padding-block: var(--section-padding); }

  .app-banner { transform: translateY(100px); }



  /**
   * BLOG
   */

  .blog-list > li { max-width: calc(33.33% - 13.33px); }



  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    gap: 50px;
  }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1180px; }

  .section-text { --fs-4: 1.5rem; }

  .h2 { --fs-1: 4rem; }

  .h3 { --fs-2: 2.2rem; }



  /**
   * HEADER
   */

  .header { padding-block: 20px; }

  :is(.header, .hero) .container {
    max-width: unset;
    padding-inline: 25px;
  }

  .header .btn {
    font-size: var(--fs-3);
    padding: 14px 30px;
    border-radius: var(--radius-6);
    margin-block: 0;
  }



  /**
   * HERO
   */

  .hero { --section-padding: 30px; }



  /**
   * FEATURES
   */

  .features-list { gap: 25px; }

  .features-card { padding: 30px; }



  /**
   * BLOG
   */

  .blog-list { gap: 25px; }

  .blog-list > li { max-width: calc(33.33% - 16.66px); }



  /**
   * FOOTER
   */

  .footer-list-title { --fs-2: 2.2rem; }

  .social-link {
    font-size: 18px;
    padding: 14px;
  }

  .footer-link,
  .copyright { --fs-4: 1.5rem; }



  /**
   * BACK TO TOP
   */

  .back-top-btn {
    font-size: 24px;
    padding: 13px;
    bottom: 40px;
  }

  .back-top-btn.active { transform: translateX(-80px); }

}





/* services slider */



.services-slider{
  width:90vw;
  margin:50px auto;
  margin-top:0;
  padding:30px 10px;
}


.services-slider .box2{
width:250px;
box-shadow:
  0px 0px 1.9px rgba(0, 0, 0, 0.005),
  0px 0px 4.3px rgba(0, 0, 0, 0.01),
  0px 0px 7.7px rgba(0, 0, 0, 0.014),
  0px 0px 12.8px rgba(0, 0, 0, 0.017),
  0px 0px 21.2px rgba(0, 0, 0, 0.022),
  0px 0px 37px rgba(0, 0, 0, 0.027),
  0px 0px 80px rgba(0, 0, 0, 0.04)
;
border-radius:5px;
background:var(--white);
padding:20px;
margin:30px 0px;
}




.services-name{
  font-size:1.6rem;
  text-align:center;
  font-weight:bold;
  padding:5px 10px;
  color:var(--pumpkin);
}


.services-description{
  text-align:justify;
  padding:2px 10px;
font-size:var(--fs-6);
line-height: 1.3;
}

.services-description i{
  font-size:var(--fs-2);
  color:var(--pumpkin);
}




.arrows2 .team-prev,
.arrows2 .team-next {
  position: absolute;
  padding:5px 10px;
  border-radius: 50%;
  cursor: pointer;
  color:white;
  background:var(--pumpkin);
  bottom:100px;
  z-index:999;
}

.arrows2 .team-prev {
  left: 20px;
}

.arrows2 .team-next {
  right: 20px;
}



.services{
  background:var(--background-light-sky);
  margin:50px 0;
  padding:50px 20px;
}




/* loading animation  */
#loading{
  position:fixed;

  top:0;
  left:0;
  right:0;
  bottom:0;

  z-index:999999;
  background:rgb(255, 255, 255);
}


#loading .loading_inner{
  background:rgb(255, 255, 255) url('../images/loader.gif');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  z-index:9999999;
  position:fixed;
top:0;
left:0;
right:0;
bottom:0;
width:20vw;
margin:10px auto;
}


#overlay_container{
  background:url('../images/overlay.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

#overlay_container .overlay_on{
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.815);
  padding:150px 20px;
}


#overlay_container .overlay_on .head{
  text-align:center;
  font-size:var(--fs-1);
  font-weight:900;
  color:white;
}

#overlay_container .overlay_on .button_link{
  text-align:center;
}


#overlay_container .overlay_on .button_link a{
  text-align:center;
  width:fit-content;
  margin:10px auto;

}


.overlay_breadcrumb{
  display:flex;
  justify-content: center;
  color:white;
}

.overlay_breadcrumb a{
  margin:0px 10px;
}



/* contact page */



/* contact page here */



.contact-image img{
  filter: hue-rotate(203deg);
  -webkit-filter: hue-rotate(203deg);
  -moz-filter: hue-rotate(203deg);
}






.contact-box-container{
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30;
  padding:80px 100px;
  justify-content: center;
  align-items: center;
  margin:10px auto;
  
}

.contact-box-container .contact-col{
  box-shadow:
  0px 0.2px 2.2px rgba(0, 0, 0, 0.014),
  0px 0.5px 5.3px rgba(0, 0, 0, 0.02),
  0px 0.9px 10px rgba(0, 0, 0, 0.025),
  0px 1.6px 17.9px rgba(0, 0, 0, 0.03),
  0px 2.9px 33.4px rgba(0, 0, 0, 0.036),
  0px 7px 80px rgba(0, 0, 0, 0.05)
;


transition:0.2s ease-in-out;
cursor: pointer;
min-height:200px;

}



.contact-box-container .contact-col:hover{
  transform:scale(0.9) translateY(-20px);
  box-shadow:unset;
  color:var(--orange);
}




.contact-box-container .contact-col .contact-image{
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.contact-box-container .contact-col img{
  width:25%;
  transition:0.3s ease-in-out;
}


.contact-box-container .contact-col:hover .contact-image img{
  width:25%;
}


.contact-box-container .contact-col  .contact-name{
  text-align:center;
  font-size:var(--fs-9);
  font-weight:500;
}




/* overlay others */
.other-overlay{
  padding:100px 30px;
  margin-top:80px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;

  background: linear-gradient(90deg,rgba(0,0,0,0.52) 0%, rgba(0,0,0,0.49) 80%) , url(../images/overlay.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}


.other-overlay h2{
  text-align:center;
  font-size:var(--fs-1);
  font-weight:600;
  text-shadow: 1px 1px #020202;
color:white;

}





/* contact page here */



.contact-image img{
  filter: hue-rotate(203deg);
  -webkit-filter: hue-rotate(203deg);
  -moz-filter: hue-rotate(203deg);
}






.contact-box-container{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30;
  padding:80px 100px;
  justify-content: center;
  align-items: center;
  margin:10px auto;
  
}

.contact-box-container .contact-col{
  box-shadow:
  0px 0.2px 2.2px rgba(0, 0, 0, 0.014),
  0px 0.5px 5.3px rgba(0, 0, 0, 0.02),
  0px 0.9px 10px rgba(0, 0, 0, 0.025),
  0px 1.6px 17.9px rgba(0, 0, 0, 0.03),
  0px 2.9px 33.4px rgba(0, 0, 0, 0.036),
  0px 7px 80px rgba(0, 0, 0, 0.05)
;


transition:0.2s ease-in-out;
cursor: pointer;
min-height:200px;

}



.contact-box-container .contact-col:hover{
  transform:scale(0.9) translateY(-20px);
  box-shadow:unset;
  color:var(--orange);
}




.contact-box-container .contact-col .contact-image{
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.contact-box-container .contact-col img{
  width:25%;
  transition:0.3s ease-in-out;
}


.contact-box-container .contact-col:hover .contact-image img{
  width:25%;
}


.contact-box-container .contact-col  .contact-name{
  text-align:center;
  font-size:var(--fs-9);
  font-weight:500;
}







/* contact form container here */


.contact-form-container{
  display:grid;
  grid-template-columns:1fr 1fr;
padding:50px 0px;
}


.contact-form-container .col2 .form{
  width:100%;

  position:relative;
  right:50px;
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
padding:20px;

transition:0.2s ease-in-out;
}

.contact-form-container .col2 .form .row-half{
  display:flex;
justify-content: space-between;
}

.contact-form-container .col2 .form .row{
  display:flex;
  flex-direction: column;
  margin:13px 0;
width:100%;
}

.contact-form-container .col2 .form .row-half .row{
  display:flex;
  flex-direction: column;
  margin:13px 0;
width:49%;
}



.contact-form-container .col2 .form .form-heading{
  font-size:var(--fs-2);
  font-weight:500;
}

#check-btn{
  font-size:var(--fs-12);
}

.contact-form-container .col2 .form .row  input,.contact-form-container .col2 .form .row select{
  border:1px solid rgb(194, 194, 194);
  padding:7px;
  background:transparent;
  font-size:var(--fs-10);
}

.contact-form-container .col2 .form .row textarea{
  border:1px solid rgb(194, 194, 194);
background:transparent;
}


.contact-form-container .col2 .form .row select{
  padding:14px 7px;
  font-size:var(--fs-10);
}

.contact-form-container .col2 .form .row label{
  font-size:var(--fs-10);
}




.contact-form-container .col1 iframe{
  width:100%;
  height:100%;
  position:relative;
  left:50px;
}







/* about page */


/* about page css */


.about-availablity{
  display:grid;
  grid-template-columns: 1fr 1fr;
  margin:30px auto;
}


.about-availablity .col1{
  display:flex;
  justify-content: center;
  align-items: center;

  border-radius:5px;
  position:relative;
  left:50px;

}



.about-availablity .col2{
  height:fit-content;
  padding:40px;
  background: rgba( 255, 255, 255, 0.4 );
box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.011),
  0px 0px 5.3px rgba(0, 0, 0, 0.016),
  0px 0px 10px rgba(0, 0, 0, 0.02),
  0px 0px 17.9px rgba(0, 0, 0, 0.024),
  0px 0px 33.4px rgba(0, 0, 0, 0.029),
  0px 0px 80px rgba(0, 0, 0, 0.04)
;
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

position:relative;
right:50px;


}



.about-availablity .col2 .about-subheading{
    color:var(--pumpkin);
  font-size:var(--fs-9);
}

.about-availablity .col2 .about-heading{
  font-size:2.2rem;
}
.about-availablity .col2 .about-para{
  font-size:var(--fs-12);
  margin-top:20px;
  color:var(--grey-dark);
  text-align:justify;
}





.about-availablity .col1 img{
  width:100%;
  box-shadow:
  0px 0px 2.7px rgba(0, 0, 0, 0.012),
  0px 0px 6.9px rgba(0, 0, 0, 0.018),
  0px 0px 14.2px rgba(0, 0, 0, 0.022),
  0px 0px 29.2px rgba(0, 0, 0, 0.028),
  0px 0px 80px rgba(0, 0, 0, 0.04)
  ;
}



.services_list_container2{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap:10px;
  padding:60px 0px;
}


.services_list_container2 .services_list_box2{
  padding:15px;
  transition:0.2s linear;
border:1px solid transparent;
box-shadow:
0px 0px 2.2px rgba(0, 0, 0, 0.011),
0px 0px 5.3px rgba(0, 0, 0, 0.016),
0px 0px 10px rgba(0, 0, 0, 0.02),
0px 0px 17.9px rgba(0, 0, 0, 0.024),
0px 0px 33.4px rgba(0, 0, 0, 0.029),
0px 0px 80px rgba(0, 0, 0, 0.04)
;
margin:20px;

}

.services_list_container2 .services_list_box2:hover{

border:1px solid rgb(202, 202, 202);

cursor: pointer;
}

.services_list_container2 .services_list_box2 .icon_container2 {
  text-align:center;
}

.services_list_container2 .services_list_box2 .icon_container2 i{
  font-size:7rem;
text-align:center;
color:var(--pumpkin);
margin:5px auto;
}

.services_list_container2 .services_list_box2 .services_name2{
  font-size:var(--fs-2);
  font-weight:700;
  color:var(--pumpkin);
  text-align:center;
  margin-bottom:15px;
}


.services_list_container2 .services_list_box2 .services_detail2{
  text-align:justify;
}

.services_list_container2 .services_list_box2  .services_btn_2{
  display:block;
  margin-top:20px;
}

.services_list_container2 .services_list_box2  .services_btn_2 button{
  width:100%;
  display:inline-block;
  padding:5px 30px;
  text-align:center;
}



.our_specialities{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap:20px;
margin:100px auto;
}


.our_specialities .col{
  box-shadow:
  0px 0px 2.2px rgba(0, 0, 0, 0.011),
  0px 0px 5.3px rgba(0, 0, 0, 0.016),
  0px 0px 10px rgba(0, 0, 0, 0.02),
  0px 0px 17.9px rgba(0, 0, 0, 0.024),
  0px 0px 33.4px rgba(0, 0, 0, 0.029),
  0px 0px 80px rgba(0, 0, 0, 0.04)
;
transition:0.3s ease-in-out;
}

.our_specialities .col .icon_cont{
  width:fit-content;
  margin:10px auto;
padding:10px 25px;
background: #2d3bf1;
background: linear-gradient(90deg,#2d3bf1 0%, #1420b2 80%);
background: -webkit-linear-gradient(90deg,#2d3bf1 0%, #1420b2 80%);
background: -moz-linear-gradient(90deg,#2d3bf1 0%, #1420b2 80%);
border-radius:50%;
position:relative;
top:-50px;
}

.our_specialities .col .icon_cont i{
  font-size:6rem;
color:white;
}


.our_specialities .col .spec_head{
text-align:center;
position:relative;
top:-20px;
font-size:2.3rem;
color:var(--pumpkin);
font-weight:800;
}


.our_specialities .col .spec_para{
  text-align:justify;
  padding:20px;
  padding-top:0;
}

.our_specialities .col:hover{
  border-bottom:3px solid var(--pumpkin);
  transform:translateY(20px);
  cursor:pointer;
}




#modal{
  width:360px;
  height: fit-content;
  position:fixed;
  bottom:50%;
  left:50%;
  right:50%;
  z-index:99999;
transform:translate(-50%,-50%);
transition:0.3s ease-in-out;
box-shadow:
  0px 0px 1.2px rgba(0, 0, 0, 0.001),
  0px 0px 2.7px rgba(0, 0, 0, 0.003),
  0px 0px 4.6px rgba(0, 0, 0, 0.004),
  0px 0px 6.9px rgba(0, 0, 0, 0.005),
  0px 0px 10px rgba(0, 0, 0, 0.007),
  0px 0px 14.2px rgba(0, 0, 0, 0.009),
  0px 0px 20.1px rgba(0, 0, 0, 0.011),
  0px 0px 29.2px rgba(0, 0, 0, 0.014),
  0px 0px 45px rgba(0, 0, 0, 0.02),
  0px 0px 80px rgba(0, 0, 0, 0.04)
;
background:white;

border-radius:10px;
top:-100%;
}


#fullscreen_overlay{
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:-11;
transition:0.3s ease-in-out;

}

#modal .modal_head{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-bottom:1px solid rgb(224, 224, 224);
  color:var(--pumkin);
}


#modal .modal_head i{
  font-size:3rem;
  color:var(--pumpkin);
}


#modal .modal_foot{
padding:10px;
color:red;
font-weight:600;
border-top:1px solid rgb(224, 224, 224);

}


#modal .modal_body{
  min-height:400px;
  max-height:400px;
  overflow-y: scroll;
  padding:20px;
}


#modal .modal_body::-webkit-scrollbar { width: 3px; }

#modal .modal_body::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }

#modal .modal_body::-webkit-scrollbar-thumb { background-color: hsl(266, 47%, 20%); border-radius:5px; }

#modal .modal_body::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }



#modal .modal_body .form_control{
  display:flex;
  flex-direction: column;
  margin-bottom:20px;
}

#modal .modal_body .form_control input,#modal .modal_body .form_control select{
  border:1px solid rgb(219, 219, 219);
  height:40px;
font-size:1.4rem;
}

#modal .modal_body .form_control button{
  padding:5px 30px;
  border-radius:5px;
}




  
.whatsapp_icon_link{
  position:fixed;
  bottom:100px;
  right: 10px;
  z-index:2000;
  width: 55px;
  transform:scale(0);
}

.whatsapp_icon_link{
  transition:0.2s linear;
}

.whatsapp_icon_link a img{
  width: 100%;
  height: 100%;
}

.whatsapp_icon_link:hover{
  transform:scale(1.3);
}

  
.phone_icon_link{
  position:fixed;
  bottom:20px;
  left: 20px;
  z-index:2000;
  width: 55px;
  transform:scale(0);
  transition:0.2s linear;
 
}

.activatedvibe{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) infinite;
}


.phone_icon_link a img{
  width: 100%;
  height: 100%;
}

.phone_icon_link:hover{
  transform:scale(1.3);
}



@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.nothingdiv{
  width:100%;
  text-align:center;
}



@media (max-width: 990px) {


  .about-availablity{
    grid-template-columns:1fr;
  }

  .about-availablity .col1{
    left:0;
    top:30px;
  }

  .about-availablity .col2{
    right:0;
    top:-30px;
  }

.our_specialities .col{
  margin-bottom:40px;
}
 


.our_specialities .col:hover{
  transform:translateY(-20px);
}


.contact-form-container{
  grid-template-columns:1fr;
}


.contact-form-container .col2 .form{
  right:0;
  top:-10px;
}

.contact-form-container .col1 iframe{
  left:0;
  top:10px;
}

.contact-form-container .col{
  margin:20px;
}


.contact-form-container .col2 .form .row-half{
  flex-direction:column;
}

.contact-form-container .col2 .form .row-half .row{
  width:100%;
}

}